<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Error !</title>
</head>
<body>
	<h1>HTTP Status 403 - Access is denied</h1>
	
<h2 th:text="${msg}"></h2>
</body>
</html>