<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="refresh" content="5; url=/login" />
<title>Congratulations !</title>
<link rel="stylesheet" type="text/css"
  href="../static/css/bootstrap.min.css"
  th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" type="text/css" href="../static/css/styles.css"
  th:href="@{/css/styles.css}" />
</head>
<body>



<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
		  <div class="panel panel-success">
		
		      <div class="panel-heading">Congratulations !</div>
		      <div class="panel-body">
		        Registration was successful. You can now,make a bootstrap resume free !
		        <p>You will redirect to the login page in 5 seconds ... Please <a th:href="@{/login}">click here</a> if you are not redirected</p>
		      </div>
		   </div>
		</div>
	</div>
</div>


<script th:src="@{/js/jquery-2.1.4.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/script.js}"></script>

</body>
</html>